/* Limpando as formatações padrões */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f0f2f5;
}
/* Layout */
#area-cabeçalho {
    background: linear-gradient(red, black);
    padding: 15px;
    text-align: center;
}
#area-logo, #area-menu {
    padding: 10px;
}
#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
#area-postagens {
    width: 660px;
    float: left;
}
.area-lateral {
    width: 240px;
    float: right;
    margin-left: 20px;
}
.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}
.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.area-lateral {
    background: white;
}
#rodape {
    background: #CCC;
    clear: both;
    text-align: center;
    padding: 15px;
}
img {
    width: 620px;
    height: 425px;
}
/*Formatações Gerais */
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}
.amarelo {
    color: #f7b600;
}
h2 {
    color: #af1515;
}
h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}
.data-postagem {
    font-size: 0.8em;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
/* Formatação do menu */
a {
    text-decoration: none;
}
a:link, a:visited {
color: #af1515;
}
a:hover {
    text-decoration: underline;
}
#area-cabeçalho a:link, #area-cabeçalho a:visited {
    color: #fff;
    padding: 8px 12px;
}
#area-cabeçalho a:hover {
    color: red;
    background-color: white;
    text-decoration: none;
}

